/* File referring to media responsivness ONLY */

@media screen and (max-width: 1000px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav img:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    border: none;
    margin-left: 65px;
  }
  .topnav.responsive .icn-menuicn {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .icn-pp {
    float: none;
    display: block;
    text-align: left;
  }
}

@media only screen and (max-width: 1215px) and (min-width: 1000px) {
  .piechart-img {
    width: 99%;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: [col] 1fr [col] 1fr [col] 1fr [col] 1fr;
    grid-template-rows: [row] 0.8fr [row] 0.4fr [row] 0.6fr [row] 1fr [row] 0.8fr;
    background-color: #fff;
    color: #444;
    margin: 0px 100px 85px 100px;
  }
  .queue-div {
    grid-column: col 1 / span 4;
    grid-row: row 2;
    flex-direction: row;
  }
  .queue-h2 {
    margin: 0px;
    padding-top: 40%;
  }

  .piechart-img {
    width: 80%;
  }

  .inbound-calls-div {
    grid-column: col 3 / span 2;
    grid-row: row 5;
  }
  .tickets-today-div {
    grid-column: col 1 / span 2;
    grid-row: row 5;
  }
  .customer-satisfaction-div {
    grid-column: col 1 / span 4;
    grid-row: row 1;
    overflow: none;
  }
  .customer-severity-table-div {
    grid-column: col 1 / span 4;
    grid-row: row 4;
  }
  .agents-avb-div {
    grid-column: col 1 / span 2;
    grid-row: row 3;
  }
  .service-issue-div {
    grid-column: col 3 / span 2;
    grid-row: row 3;
  }
}