@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");
* {
  font-family: "Montserrat";
}

body {
  margin: 0px 0px 0px 0px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #ffffff;
  overflow: hidden;
  margin-right: 100px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #000000;
  padding: 17px 35px 14px 35px;
  text-decoration: none;
  font-size: 14px;
  border-bottom: 3px solid white;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #f9475f;
  font-size: 14px;
  border-bottom: #f9475f;
  border-bottom: 3px solid;
}

.test-div {
  background-color: greenyellow;
}

.menu-links {
  align-items: right;
  padding: 0px 100px 0px 100px;
}

.breakdiv {
  background-color: #f9475f;
  position: relative;
  height: 2.5vh;
  padding: 11.5px 30px 11.5px 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 55px;
}

.searchbar {
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  margin-right: 70px;
  width: 190px;
  height: 26px;
}

.logosec {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icn-menuicn {
  height: 48px;
  float: left;
  margin-left: 100px;
  margin-top: 2px;
}

.icn-menuicn:hover {
  cursor: pointer;
}

.table-severity {
  text-align: center;
}

.headings {
  text-align: left;
}

.customer-satisfaction-table {
  margin-left: -3px;
}

.icn-pp {
  width: 50px;
  height: 40px;
  float: right;
  margin-left: 50px;
  margin-right: 100px;
}

.icn-pp:hover {
  cursor: pointer;
}

.icn-chat {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 2;

  width: 60px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.selected {
  font-weight: 700;
}

.unselected {
  font-weight: 500;
}

.customer-satisfaction-heading {
  padding: 11.5px 0px 21.5px 0px;
}
.customer-satisfaction-piechart {
  grid-column: col 2 / span 1;
  grid-row: row;
  background-color: red;
}
.customer-satisfaction-ratings {
  position: relative;
}

.container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr;
  grid-template-rows: [row] 1fr [row] 31vh;
  background-color: #fff;
  color: #444;
  margin: 0px 100px 65px 100px;
}

.queue-div {
  grid-column: col 1 / span 1;
  grid-row: row;
  background-color: #f9475f;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 11.5px 30px 11.5px 30px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}
.inbound-calls-div {
  grid-column: col 2 / span 1;
  grid-row: row;
}
.tickets-today-div {
  grid-column: col 3 / span 1;
  grid-row: row;
}
.customer-satisfaction-div {
  grid-column: col 4 / span 2;
  grid-row: row;
}

.customer-severity-table-div {
  grid-column: col 1 / span 3;
  grid-row: row 2;
  overflow: scroll;
}
.agents-avb-div {
  grid-column: col 4 / span 1;
  grid-row: row 2;
  overflow: scroll;
}
.services-issue-div {
  grid-column: col 5 / span 1;
  grid-row: row 2;
  overflow: scroll;
}

.opening-div-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15.5px 0px 0px 0px;
}

.queue-p1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
}

.queue-p2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
}

.queue-h2 {
  position: relative;
  color: #ffffff;
  padding: 3% 4% 0% 4%;
  font-weight: 700;
  font-size: 74px;
  margin-bottom: 0px;
  text-align: right;
}


.inbound-calls-div {
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 11.5px 30px 11.5px 30px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

.tickets-today-div {
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 11.5px 30px 11.5px 30px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

.customer-satisfaction-div {
  background-color: #ffffff;
  position: relative;
  display: flex;
  box-shadow: 0px 0px 11px rgb(0 0 0 / 16%);
  border-radius: 10px;
  justify-content: space-between;
}

.customer-severity-table-div {
  background-color: #ffffff;
  overflow-x: auto;
  overflow-y: hidden;
  overflow: scroll;
  padding: 11.5px 30px 11.5px 30px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

.table-long-div {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

.service-issue-div {
  background-color: #ffffff;
  padding: 11.5px 30px 11.5px 30px;
  overflow: scroll;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

.agents-avb-div {
  background-color: #ffffff;
  padding: 11.5px 30px 11.5px 30px;
  overflow: scroll;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

.table-width-agents {
  width: 100px;
}

.table-agent {
  white-space: nowrap;
}

.service-issue-table {
  border-collapse: collapse;
  width: 100%;
}

.secs {
  font-size: 14px;
}
.th1 {
  padding: 8px 4px 4px 0px;
  text-align: left;
}

.agents-available {
  overflow: auto;
}

.pie-key-image {
  width: 17px;
}

td {
  padding-top: 10px;
  font-size: 14px;
}

th {
  padding-bottom: 8px;
  font-size: 14px;
}

.inbound-calls {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 0px;
}

.waiting-time-secs {
  font-weight: 700;
  font-size: 24.5px;
  margin-bottom: 0px;
}

.total-num {
  font-weight: 700;
  font-size: 24.5px;
  margin-bottom: 0px;
}

.footer {
  background-color: #ffffff;
  overflow: hidden;
}

.footer-icn {
  height: 42px;
}

.footer-yt-icon {
  padding-left: 100px;
}

.piechart-img {
  height: 220px;
}

.piechart-div {
  padding: 0px 0px 0px 30px;
  display: flex;
  align-items: center;
  margin-right: 2vw;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.today-p {
  margin-top: 3px;
}

.waiting-p {
  margin-top: 3px;
}

.total-p {
  margin-top: 3px;
}
.created-p {
  margin-top: 3px;
}

.available {
  color: #3be341;
}

.engaged {
  color: #f9475fb2;
}

.offline {
  color: #f9475f;
}

.today-p {
  font-size: 14px;
}

.total-p {
  font-size: 14px;
}

.waiting-p {
  font-size: 14px;
}

.created-p {
  font-size: 14px;
}

.satisfaction-table {
  padding-top: 18px;
}

.satisfaction-heading {
  padding-bottom: 20px;
  text-align: left;
  padding-top: 10px;
}

.agents-p {
  margin: 0px;
  font-size: 14px;
  font-weight: 700;
  padding-top: 10px;
}
